<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <header id="top" style="background-image: url('/images/{{ page.meetupno }}_background.jpeg'), url('/images/background.jpeg')">
            <div class="header">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#top" data-scrollto="scroll"><img src="/images/logo.png" alt="Wroc.NET" /></a>
                    </div>

                    <ul class="nav navbar-nav pull-right hidden-xs">
                    </ul>
                </div>
            </nav>
            </div>
        </header>
        <div class="site">
          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Wrocławska Grupa .NET<br />
                kontakt@wrocnet.org
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://wrocnet.org">meetup.com/wrocnet</a><br />
                <a href="https://github.com/wrocnet">github.com/wrocnet</a><br />
                <a href="https://twitter.com/wrocnet">twitter.com/wrocnet</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
