<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/screen.css">
        <meta property="og:title" content="{{ page.title }}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	<meta property="og:image" content="{{ site.url }}/images/{{ page.meetupno }}_background.jpeg" />
    </head>
    <body>
        <header id="top" style="background-image: url('/images/{{ page.meetupno }}_background.jpeg'), url('/images/_background.jpeg')">
            <div class="header">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#top" data-scrollto="scroll"><img src="/images/logo.png" alt="Wroc.NET" /></a>
                    </div>

                    <ul class="nav navbar-nav pull-right hidden-xs">
                    </ul>
                </div>
            </nav>
            </div>
        </header>
        <div class="site">
          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Wrocławska Grupa .NET<br />
                kontakt@wrocnet.org
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://wrocnet.org">meetup.com/wrocnet</a><br />
                <a href="https://github.com/wrocnet">github.com/wrocnet</a><br />
                <a href="https://twitter.com/wrocnet">twitter.com/wrocnet</a><br />
              </p>
            </div>
            <p id="satisfaction">Oceń grupę</p>
          </div>
        </div>
        <script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/tQZlW0Vmlgz5Ne8Y2aOvJA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: '#e23a39'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', { }]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {mode: 'feedback', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
UserVoice.push(['addTrigger', '#satisfaction', {mode: 'satisfaction', trigger_position: 'bottom-right' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39235315-2', 'auto');
    ga('send', 'pageview');

        </script>
    </body>
</html>
