---
layout: default
---
<h2>{{ page.meetupno }}. spotkanie Wrocławskiej Grupy .NET</h2>
<p class="meta">Data spotkania:&nbsp;{{ page.date | date_to_string }}</p>

<h3>Materiały:</h3>
<div class="post">
{{ content }}
</div>

<div class="container">
  <div class="row">
    {% if page.previous != nil %}
    <div class="col-md-6">
      <a href="{{ page.previous.url }}">Poprzednie spotkanie</a>
    </div>
    {% endif %}

    {% if page.next != nil %}
    <div class="col-md-6 next-post">
      <a href="{{ page.next.url }}">Następne spotkanie</a>
    </div>
    {% endif %}
  </div>
</div>